.grid-main 
    display: grid;
    grid-template-columns: 150px;

.grid-main-navbar 
    grid-area : 1 / 2 / 1 / 2;
    margin-top : 1em;

.grid-main-content 
    grid-area: 2 / 2 / 2 / 2;


.grid-heading
    position: fixed;
    width: 150px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 20%);


.grid-title 
    display: grid;
    grid-template-columns: 2em;

.grid-title-bullet 
    grid-area: 1 / 1 / 2 / 2;

.grid-title-main 
    grid-area: 1 / 2 / 2 / 3;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;


.grid-option 
    display: grid;
    grid-template-columns: 2.5em;

.grid-option-bullet 
    grid-area: 1 / 1 / 2 / 2;

.grid-option-main
    margin-top: 8.5px;
    grid-area: 1 / 2 / 2 / 3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;


