.grid-main 
    display: grid;
    grid-template-columns: 150px;

.grid-main-mini
    display: grid;
    grid-template-columns: 25px;

.grid-main-navbar 
    grid-area : 1 / 2 / 1 / 2;

.grid-main-content 
    grid-area: 2 / 2 / 2 / 2;
    margin-top: 5em;
    

.grid-sidebar
    position: fixed;
    width: 150px;
    height: 100%;
    display: grid;
    grid-template: 2.5em / repeat(6, 16.6%);

.grid-sidebar-mini
    position: fixed;
    width: 25px;
    height: 100%;
    display: grid;
    grid-template: 0 / 100%;

.grid-sidebar-canvas
    grid-area: 2 / 1 / 3 / 7;


.grid-title 
    display: grid;
    grid-template-columns: 2em;

.grid-title-bullet 
    grid-area: 1 / 1 / 2 / 2;

.grid-title-main 
    grid-area: 1 / 2 / 2 / 3;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

.grid-title-post 
    grid-area: 1 / 2 / 2 / 3;
    padding-left: 10px;


.grid-option 
    display: grid;
    grid-template-columns: 2.5em;

.grid-option-bullet 
    grid-area: 1 / 1 / 2 / 2;

.grid-option-main
    margin-top: 8.5px;
    grid-area: 1 / 2 / 2 / 3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;


.grid-form
    display: grid;
    grid-template-columns: 30% 50%;
    grid-template-rows: 50px 50px 150px 100px;
    grid-gap: 10px 10px;
    padding: 10px;
    border-left: 1em solid;
    border-bottom: 1em solid;
    border-radius: 15px;


.grid-streamer
    display: grid;
    grid-template-columns: repeat(50, 1.694vw);
    height: 1em;
    margin: 1em;
    margin-bottom: 0;
    z-index: 1;